APP_NAME="APP NAME"

JWT_SECRET="SECRET"

TYPEORM_CONNECTION="postgres"
TYPEORM_HOST="localhost"
TYPEORM_USERNAME="USERNAME"
TYPEORM_PASSWORD="PASSWORD"
TYPEORM_DATABASE="DATABASE"
TYPEORM_PORT=5432
TYPEORM_SYNCHRONIZE=true
TYPEORM_LOGGING=true
TYPEORM_ENTITIES='src/entity/**/*.ts'
TYPEORM_MIGRATIONS='src/migration/**/*.ts'
TYPEORM_SUBSCRIBERS='src/subscriber/**/*.ts'

MAIL_HOST="smtp.example.com"
MAIL_PORT=465
MAIL_USERNAME="USERNAME"
MAIL_PASSWORD="PASSWORD"
MAIL_ENCRYPTION=false
MAIL_SENDER="noreply@example.com"
