TYPEORM_CONNECTION="postgres"
TYPEORM_HOST="localhost"
TYPEORM_USERNAME="USERNAME"
TYPEORM_PASSWORD="PASSWORD"
TYPEORM_DATABASE="DATABASE"
TYPEORM_PORT=5432
TYPEORM_SYNCHRONIZE=true
TYPEORM_LOGGING=true
TYPEORM_ENTITIES="src/entity/**/*.{ts,js}"
TYPEORM_ENTITIES_DIR="src/entity"
TYPEORM_MIGRATIONS="src/migration/**/*.{ts,js}"
TYPEORM_MIGRATIONS_DIR="src/migration"
TYPEORM_SUBSCRIBERS="src/subscriber/**/*.{ts,js}"
TYPEORM_SUBSCRIBERS_DIR="src/subscriber"
